* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../img/background/filmes-background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* NAVEGAÇÃO */

a {
    padding: 5rem;
    color: #fff;
    text-decoration: none;
}

nav .navbar {
    display: flex;
    text-align: end;
    justify-content: end;
    background-color: rgb(153, 14, 37);
    padding: 1.3rem;
}

.navbar ul {
    list-style-type: none ;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.navbar li {
    display: inline-block;
    font-size: 1.1em;
    line-height: 60px;
    width: 15%;
    border-right: 1px solid #fff;
}

.navbar li:last-child {
    border: none;
}

.navbar li:hover {
    background-color: rgb(20, 20, 20);
    cursor: pointer;
}

.interface {
    height: 75%;
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    margin: auto;
}



/* SECTION */

section {
    border-radius: 25px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 80%;
    background-color: rgb(20, 20, 20);
    margin-top: 15vh;
    margin-left: 20vh;
    margin-right: 20vh;
}

.text {
    width: 80%;
}

.text p {
    color: #fff;
    line-height: 1.5rem;
    margin-top: 3.5rem;
    margin-left: 20vw;
    margin-bottom: 8rem;
    text-align: justify;
}

h1 {
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
}

.categorias h2 {
    margin-bottom: 3.5vh;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
}

.categorias img {
    border-radius: 10px;
    width: 18%;
    height: 18%;
}

.categorias a {
    border-radius: 10px;
    padding: 1rem;
    color: #fff;
    background-color: rgb(84, 202, 84);
}

.categorias a:hover {
    cursor: pointer;
    background-color: rgb(120, 216, 120);
}

.acao {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 3.5rem;
    border-top: 1px solid #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.suspense {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 3.5rem;
    border-top: 1px solid #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.terror {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 3.5rem;
    border-top: 1px solid #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.drama {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 3.5rem;
    border-top: 1px solid #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ficcao {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 3.5rem;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* FOOTER */

footer {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    padding-left: 45vw;
    padding-right: 45vw;
    margin-top: 20.9vh;
    display: inline-block;
    background-color: rgb(153, 14, 37);
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
}

.card {
    font-size: 1.1em;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}