<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Categorias </title>
    <link rel="stylesheet" href="../static/css/categoria.css">
</head>

<body>

    <div class="interface">
        <header></header>

        <nav>
            <div class="navbar">
                <ul>
                    <li> <a href="../index.html"> Página Inicial </a> </li>
                    <li> <a href="sobre.html"> Sobre Nós </a> </li>
                </ul>
            </div>
        </nav>

        <section>
            <div class="content">
                <h1> -Categorias- </h1>

                <div class="text">
                    <p> Abaixo você encontrará todas as categorias e seus respectivos filmes. Navegue e descrubra todos os filmes disponíveis! </p>
                </div>

                <div class="categorias">
                    <h2> Ação </h2>
                    <div class="acao">
                        <img src="../static/img/acao/mib-internacional.jpg" alt="mib-internacional">
                        <img src="../static/img/acao/cidade-perdida.jpg" alt="cidade-perdida">
                        <img src="../static/img/acao/a-chamada.jpg" alt="a-chamada">
                        <a href=""> Ver mais </a>
                    </div>

                    <h2> Suspense </h2>
                    <div class="suspense">
                        <img src="../static/img/suspense/a-hora-do-desespero.jpg" alt="a-hora-do-desespero">
                        <img src="../static/img/suspense/ilha-do-medo.jpg" alt="ilha-do-medo">
                        <img src="../static/img/suspense/panico.jpg" alt="panico">
                        <a href=""> Ver mais </a>
                    </div>

                    <h2> Terror </h2>
                    <div class="terror">
                        <img src="../static/img/terror/a-luz-do-demonio.jpg" alt="a-luz-do-demonio">
                        <img src="../static/img/terror/maligno-.jpg" alt="maligno">
                        <img src="../static/img/terror/ju-on.jpg" alt="ju-on">
                        <a href=""> Ver mais </a>
                    </div>

                    <h2> Drama </h2>
                    <div class="drama">
                        <img src="../static/img/drama/elizabeth.jpg" alt="elizabeth">
                        <img src="../static/img/drama/algum-lugar-especial.jpg" alt="algum-lugar-especial">
                        <img src="../static/img/drama/verlust.jpg" alt="verlust">
                        <a href=""> Ver mais </a>
                    </div>

                    <h2> Ficção </h2>
                    <div class="ficcao">
                        <img src="../static/img/ficcao/de-volta-para-o-futuro-3.jpg" alt="de-volta-para-o-futuro-3">
                        <img src="../static/img/ficcao/robocop.jpg" alt="robocop">
                        <img src="../static/img/ficcao/avatar-2.jpg" alt="avatar-2">
                        <a href=""> Ver mais </a>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="footer-content">
                <div class="card">
                    <p> Todos os direitos reservados. </p>
                </div>
            </div>
        </footer>

    </div>

</body>

</html>